{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>


<div class="container m-auto">

    <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="{% url 'index' %}">Home / </a> Profile Settings
        {% if request.user.is_authenticated %}for {{ object.user.username }} {% endif %}
    </h1>
    <br>
    <hr>
<form method="post" action="{% url 'delete profile' pk=request.user.pk %}">
 {{ delete_profile }}

<button type="submit">Delete my profile </button>
    {% csrf_token %}
</form>
    <form method="post" action="" enctype="multipart/form-data">

        {% for form_field in form %}
            {% if is_owner or request.user.is_superuser or request.user.is_staff %}
            {{ form_field.label }}
            {{ form_field }}
            {% else %}

            <fieldset disabled="disabled"> {{ form_field }} </fieldset>
            {% endif %}
        {% endfor %}
        {% csrf_token %}
        <br>
        <input type="submit" value="Save">
        <input type="reset" value="Reset to default">
    </form>
</div>

<br>

</body>

</html>